@model IEnumerable<ArtworkModel>

@{
    Layout = null;
}
<style>
     .product-wrapper {
        width: calc(20% - 10px); /* 100% divided by 5 columns, minus margin */
        float: left; /* Float the columns left to create a horizontal layout */
        box-sizing: border-box; /* Include padding and border in the element's total width */
        padding: 10px; /* Add some padding for spacing */
        margin: 5px; /* Add margin around each item */
     }

     /* Optional: Adjust styles as needed */
     .product-wrapper {
         /* Add margin to create space between columns */
         margin-right: 2%; /* Adjust as needed */
     }

     /* Clear floats to prevent container collapse */
     .products:after {
         content: "";
         display: table;
         clear: both;
     }
</style>

<ul class="products isotope">
    @foreach (var item in Model)
    {
        <li class="product-wrapper dt-sc-one-fifth" style="margin:5px">
            <div class="product-container">
                <a href="@Url.Action("Index", "ShopDetail",new{id = item.artworkId})"><div class="product-thumb"> <img src="@item.Image" style=" height:300px" /> </div> </a>
                <div class="product-title">
                    <a href="/Cart/AddToCart?id=@item.artworkId" class="type1 dt-sc-button"> <span class="fa fa-shopping-cart"></span> Add to Cart </a>
                   @*  <a href="#" class="type1 dt-sc-button"> <span class="fa fa-unlink"></span> Options </a> *@
                    <p>@item.Description</p>
                </div>
            </div>
            <div class="product-details">
                <h5> <a href="shop-detail.html"> @item.Title </a> </h5>
                <span class="amount"> @item.Price VND</span>
            </div>
        </li>
    }
</ul>
<script>
    function formatCurrency(amount) {
        return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
    var amountElements = document.getElementsByClassName("amount");
    for (var i = 0; i < amountElements.length; i++) {
        var amountText = amountElements[i].textContent;
        var amount = parseFloat(amountText);
        if (!isNaN(amount)) {
            amountElements[i].textContent = formatCurrency(amount) + " VND";
        }
    }
</script>